<h1>About is it out?</h1>
<h2>Launched September 2014</h2>
<p>is it out is a website designed to list the release dates of all major entertainment products including games, books, movies, television and music.</p>
<p>Further updates to the website will be launched gradually over the coming days, weeks and months until our vision is complete.</p>
<p>For further information on the latest developments please check out the <%= link_to "Whats New section", "#" %>.</p>
